html {
  font-size: 13px;

  @media only screen and (max-width: 1340px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 900px) {
    font-size: 10px;
  }
}

body {
  margin: 0;
  color: black;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;

  @media only screen and (max-width: 1200px) {
    font-size: 12px;
  }
}